Click>=7.0
Cython>=0.29.17
dask>=2.15.0
lxml>=4.5.0
numpy>=1.18.3
opencv-python>=4.2.0.34
Shapely==1.8.1
toolz>=0.10.0
zarr>=2.4.0
tifffile
czifile
imagecodecs[all]
tqdm
fastai
scikit-image
segmentation_models_pytorch
pillow
SimpleITK
scipy
rtree
albumentations
h5py
tiler
pycocotools